
@media all and (max-width: 400px) {
  .act {

    padding-bottom:5px;
    content: url("../images/notifications-small-arrow.png");
  }

  li.transactions{
    float:none;

  }

 }

@media all and (min-width: 400px) and (max-width: 730px) {

}

@media all and (min-width: 730px) and (max-width: 1068px) {

}

